Runtime/Cpp/Debug/
Runtime/Cpp/Release/
*.sdf
*.suo
Runtime/Cpp/StateMachine/Debug/
Runtime/Cpp/StateMachine/Release/
*proj.user
Runtime/Cpp/StateMachineTester/Debug/
Runtime/Cpp/StateMachineTester/Release/
Runtime/CSharp/Bitcraft.StateMachine.UnitTests/bin/
Runtime/CSharp/Bitcraft.StateMachine.UnitTests/obj/
Runtime/CSharp/Bitcraft.StateMachine/bin/
Runtime/CSharp/Bitcraft.StateMachine/obj/
Tools/Bitcraft.StateMachineTool.CodeGenerators/bin/
Tools/Bitcraft.StateMachineTool.CodeGenerators/obj/
Tools/Bitcraft.StateMachineTool.Parsing.yWorks/bin/
Tools/Bitcraft.StateMachineTool.Parsing.yWorks/obj/
Tools/Bitcraft.StateMachineTool.Parsing/bin/
Tools/Bitcraft.StateMachineTool.Parsing/obj/
Tools/Bitcraft.StateMachineTool/bin/
Tools/Bitcraft.StateMachineTool/obj/
Tools/Bitcraft.ToolKit.CodeGeneration/bin/
Tools/Bitcraft.ToolKit.CodeGeneration/obj/
Tools/StateMachineTool.Core/bin/
Tools/StateMachineTool.Core/obj/
Tools/StateMachineTool/bin/
Tools/StateMachineTool/obj/
Tools/Bitcraft.StateMachineTool.Core/bin/
Tools/Bitcraft.StateMachineTool.Core/obj/
Tools/Bitcraft.StateMachineTool.yWorks/bin/
Tools/Bitcraft.StateMachineTool.yWorks/obj/
Runtime/CSharp/Bitcraft.StateMachine.ShopSample/bin/
Runtime/CSharp/Bitcraft.StateMachine.ShopSample/obj/
Runtime/JavaScript/.idea/
*.ntvs_analysis.dat
Runtime/TypeScript/StateMachine/*.js.map
Runtime/TypeScript/StateMachine/*.js
Runtime/TypeScript/StateMachine/bin/
Runtime/TypeScript/StateMachine/obj/
Runtime/TypeScript/Tester/bin/
Runtime/TypeScript/Tester/obj/
*.opensdf
Runtime/JavaScript/StateMachine/obj/
